@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  padding: 0;
  margin: 0;
}

.body {
  background: url(../img/bg6.jpg);
  min-height: 100vh;
  background-size: 213vh 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scoreBox {
  position: absolute;
  top: 90px;
  right: 153px;
  font-size: 29px;
  font-family: "Itim", cursive;
  color: rgb(248, 0, 0);
}

#author {
  position: absolute;
  left: 33px;
  top: 42.5rem;
  font-size: 20px;
  font-weight: bold;
  transform: scale(1.13);
  background: aquamarine;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 11px;
  border: 2px solid black;
  animation: color-change 2.3s linear infinite;
}

.fonti {
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
}

#HighscoreBox {
  position: absolute;
  top: 39px;
  right: 159px;
  font-size: 29px;
  font-family: "Itim", cursive;
  color: rgb(248, 0, 0);
}

#board {
  background: linear-gradient(rgb(182, 49, 190), rgb(170, 20, 13));
  width: 90vmin;
  height: 92vmin;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
  border-radius: 13px;
}

.head {
  background: linear-gradient(red, yellow);
  border: 0.25vmin solid black;
  transform: scale(1.2);
  border-radius: 7px;
}

.snake {
  background: purple;
  border: 0.25vmin solid white;
  border-radius: 13px;
}

.food {
  background: linear-gradient(red, purple);
  border: 0.25vmin solid white;
  border-radius: 5px;
}

#btn{
  position: absolute;
  background: rgb(240, 204, 0);
  text-decoration: none;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  border-radius: 11px;
  border: 2px solid black;
  margin-left: -84.5rem;
  margin-top: 33rem;
  padding: 2.5px;
}


.adi {
  position: absolute;
  bottom: 33rem;
  right: 84rem;
  height: 20%;
}
.adi:hover {
  height: 22%;
  bottom: 34.5rem;
  animation: color-change 1s linear infinite;
}

.container {
  position: absolute;
  left: 15px;
  top: 14rem;
  font-size: 25px;
  font-weight: bold;
  background: aquamarine;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 11px;
  border: 2px solid black;
  height: 53.5%;
  width: 25.6%;
  margin-top: -24px;
}

.enjoy{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: -20px;
}

.bubble {
  position: absolute;
  left: 12.5rem;
  bottom: 42rem;
  background: rgb(217, 255, 0);
  color: black;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 5px 0px 5px 5px;

}

.bubble:after {
  content: "";
  position: absolute;
  left: -0%;
  top: 85%;
  border-top: 17px solid rgb(217, 255, 0);
  border-right: 20px solid transparent;
}

.head2 {
  display: flex;
  justify-content: center;
}
p {
  margin: 2px 2px;
  padding: 3px 3px;
  font-size: 20px;
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 20% 100%;
  }
}

@keyframes color-change {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}
